In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import pyspark
import numpy as np
import pyspark.sql.functions as sf
import pyspark.sql.types as stypes
import matplotlib.pyplot as plt
%matplotlib inline


import logging
logging.basicConfig(level=logging.INFO)

# Create spark session
spark = (pyspark.sql.SparkSession.builder.getOrCreate())

sc = spark.sparkContext

In [2]:
from pyspark.sql.window import Window

In [3]:
np.__version__

'1.14.5'

In [4]:
import pyspark.sql.functions as sf

In [5]:
from pyspark.sql.dataframe import DataFrame

def pipe(df, f, *args, **kwargs):
    return f(df, *args, **kwargs)

DataFrame.pipe = pipe

In [6]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
from pyspark.sql.functions import pandas_udf, PandasUDFType

In [30]:
from formula1 import pyspark_preprocessing

In [31]:
work_df = (
    pyspark_preprocessing.read_data()
    .pipe(pyspark_preprocessing.join_constructors)
    .pipe(pyspark_preprocessing.join_drivers)
    .pipe(pyspark_preprocessing.join_races)
    .pipe(pyspark_preprocessing.join_status)
    .pipe(pyspark_preprocessing.drop_columns)
    .pipe(pyspark_preprocessing.sort_races)
    .pipe(pyspark_preprocessing.average_finishing)
    .pipe(pyspark_preprocessing.average_finishing_percircuit)
    .pipe(pyspark_preprocessing.get_wins)
    .pipe(pyspark_preprocessing.change_dtypes)
    .pipe(pyspark_preprocessing.sort_races1)
    .pipe(pyspark_preprocessing.get_wins_per_circuit)
    .pipe(pyspark_preprocessing.get_wins_total)
    .pipe(pyspark_preprocessing.lead_get_wins_per_circuit)
    .pipe(pyspark_preprocessing.mean_last_5races)
    .pipe(pyspark_preprocessing.last_race_at_circuit)
    .pipe(pyspark_preprocessing.result_previous_race)
    #.pipe(pyspark_preprocessing.get_wins_per_circuit_pipe)
    #.pipe(pyspark_preprocessing.get_wins_per_circuit)
)

INFO:formula1.utils:[read_data] rows=23777,  time=0:00:00.272542
INFO:formula1.utils:[join_constructors] rows=23777,  time=0:00:00.228509
INFO:formula1.utils:[join_drivers] rows=23777,  time=0:00:00.067223
INFO:formula1.utils:[join_races] rows=23777,  time=0:00:00.099292
INFO:formula1.utils:[join_status] rows=23777,  time=0:00:00.072511
INFO:formula1.utils:[drop_columns] rows=23777,  time=0:00:00.004855
INFO:formula1.utils:[sort_races] rows=23777,  time=0:00:00.002865
INFO:formula1.utils:[average_finishing] rows=23777,  time=0:00:00.026460
INFO:formula1.utils:[average_finishing_percircuit] rows=23777,  time=0:00:00.011055
INFO:formula1.utils:[get_wins] rows=23777,  time=0:00:00.021384
INFO:formula1.utils:[change_dtypes] rows=23777,  time=0:00:00.003392
INFO:formula1.utils:[sort_races1] rows=23777,  time=0:00:00.003324
INFO:formula1.utils:[get_wins_per_circuit] rows=23777,  time=0:00:00.014115
INFO:formula1.utils:[get_wins_total] rows=23777,  time=0:00:00.013330
INFO:formula1.utils:[lead_get_wins_per_circuit] rows=23777,  time=0:00:00.026510
INFO:formula1.utils:[mean_last_5races] rows=23777,  time=0:00:00.015972
INFO:formula1.utils:[last_race_at_circuit] rows=23777,  time=0:00:00.014752
INFO:formula1.utils:[result_previous_race] rows=23777,  time=0:00:00.013634

In [32]:
workd = work_df.orderBy(work_df.year.asc(), work_df.raceId.asc())

In [10]:
workd.show()

+--------+------+--------+----+-------------+------+--------------+--------------+----+---------+------------------+---------------------+------------------------+---+---------------------------+-------------------+------------------+
|statusId|raceId|driverId|grid|positionOrder|points|constructorRef|     driverRef|year|circuitId|                GP|mean_position_overall|mean_position_percircuit|win|total_wins_circuit_tilldate|total_wins_tilldate|  mean_last5_races|
+--------+------+--------+----+-------------+------+--------------+--------------+----+---------+------------------+---------------------+------------------------+---+---------------------------+-------------------+------------------+
|       5|   833|     640|   8|           17|   0.0|      maserati|   graffenried|1950|        9|British Grand Prix|   12.217391304347826|      18.333333333333332|  0|                       null|               null|              11.0|
|      15|   833|     741|  14|            8|   0.0|          lago|     etancelin|1950|        9|British Grand Prix|   10.416666666666666|                     8.0|  0|                       null|               null| 8.833333333333334|
|     126|   833|     790|  12|           21|   0.0|           era|leslie_johnson|1950|        9|British Grand Prix|                 21.0|                    21.0|  0|                       null|               null|              21.0|
|      60|   833|     669|   5|           14|   0.0|      maserati|          bira|1950|        9|British Grand Prix|   12.052631578947368|                    13.0|  0|                       null|               null|              12.0|
|       8|   833|     589|  11|           18|   0.0|      maserati|        chiron|1950|        9|British Grand Prix|   14.058823529411764|                    18.5|  0|                       null|               null|              13.4|
|      44|   833|     579|   3|           12|   0.0|          alfa|        fangio|1950|        9|British Grand Prix|    4.793103448275862|                     4.2|  0|                       null|               null| 7.857142857142857|
|       1|   833|     786|   2|            2|   6.0|          alfa|       fagioli|1950|        9|British Grand Prix|                4.375|                     2.0|  0|                       null|               null|3.8333333333333335|
|       6|   833|     666|  10|           20|   0.0|           era|          rolt|1950|        9|British Grand Prix|                 17.0|                    16.0|  0|                       null|               null|              20.0|
|      12|   833|     627|   9|            5|   2.0|          lago|        rosier|1950|        9|British Grand Prix|    10.64102564102564|                    15.2|  0|                       null|               null| 6.571428571428571|
|       6|   833|     661|  10|           20|   0.0|           era|  peter_walker|1950|        9|British Grand Prix|                 15.5|                    13.5|  0|                       null|               null|              20.0|
|      16|   833|     784|  16|            9|   0.0|      maserati|     hampshire|1950|        9|British Grand Prix|                 12.5|                     9.0|  0|                       null|               null|              12.5|
|      62|   833|     776|  19|           13|   0.0|          alta|         kelly|1950|        9|British Grand Prix|                 14.0|                    14.0|  0|                       null|               null|              13.0|
|       5|   833|     747|  18|           15|   0.0|      maserati|        murray|1950|        9|British Grand Prix|                17.25|      20.333333333333332|  0|                       null|               null|              11.5|
|       1|   833|     686|   4|            3|   4.0|          alfa|   reg_parnell|1950|        9|British Grand Prix|   10.857142857142858|                     9.5|  0|                       null|               null|               8.0|
|      51|   833|     789|   7|           19|   0.0|          lago|        martin|1950|        9|British Grand Prix|                 16.5|                    19.0|  0|                       null|               null|              16.5|
|      12|   833|     704|   6|            4|   3.0|          lago|     cabantous|1950|        9|British Grand Prix|   11.538461538461538|                     4.0|  0|                       null|               null|              11.0|
|      16|   833|     660|  21|           11|   0.0|          lago|         claes|1950|        9|British Grand Prix|                13.84|      12.666666666666666|  0|                       null|               null|              10.5|
|      13|   833|     787|  15|            7|   0.0|           era|      harrison|1950|        9|British Grand Prix|                 11.0|                     7.0|  0|                       null|               null|              11.0|
|      13|   833|     619|  13|            6|   0.0|           era|        gerard|1950|        9|British Grand Prix|    8.714285714285714|                     9.5|  0|                       null|               null|               6.0|
|       1|   833|     642|   1|            1|   9.0|          alfa|        farina|1950|        9|British Grand Prix|    5.837837837837838|                     6.0|  1|                       null|               null| 4.166666666666667|
+--------+------+--------+----+-------------+------+--------------+--------------+----+---------+------------------+---------------------+------------------------+---+---------------------------+-------------------+------------------+
only showing top 20 rows

In [33]:
workd.filter(workd.driverRef == 'hamilton').toPandas()

,statusId,raceId,driverId,grid,positionOrder,points,constructorRef,driverRef,year,circuitId,GP,mean_position_overall,mean_position_percircuit,win,total_wins_circuit_tilldate,total_wins_tilldate,mean_last5_races,last_race_at_circuit,result_previous_race
0,1,36,1,4,3,6.0,mclaren,hamilton,2007,1,Australian Grand Prix,3.000000,5.818182,0,NaN,NaN,3.941176,NaN,NaN
1,1,37,1,4,2,8.0,mclaren,hamilton,2007,2,Malaysian Grand Prix,2.500000,5.181818,0,NaN,0.0,3.941176,NaN,3.0
2,1,38,1,2,2,8.0,mclaren,hamilton,2007,3,Bahrain Grand Prix,2.333333,4.200000,0,NaN,0.0,3.941176,NaN,2.0
3,1,39,1,4,2,8.0,mclaren,hamilton,2007,4,Spanish Grand Prix,2.250000,6.818182,0,NaN,0.0,3.941176,NaN,2.0
4,1,40,1,2,2,8.0,mclaren,hamilton,2007,6,Monaco Grand Prix,2.200000,4.363636,0,NaN,0.0,3.941176,NaN,2.0
5,1,41,1,1,1,10.0,mclaren,hamilton,2007,7,Canadian Grand Prix,2.000000,6.900000,1,NaN,0.0,3.941176,NaN,2.0
6,1,42,1,1,1,10.0,mclaren,hamilton,2007,19,United States Grand Prix,1.857143,1.000000,1,NaN,1.0,3.941176,NaN,1.0
7,1,43,1,2,3,6.0,mclaren,hamilton,2007,8,French Grand Prix,2.000000,6.500000,0,NaN,2.0,3.941176,NaN,1.0
8,1,44,1,1,3,6.0,mclaren,hamilton,2007,9,British Grand Prix,2.111111,3.818182,0,NaN,2.0,3.941176,NaN,3.0
9,11,45,1,10,9,0.0,mclaren,hamilton,2007,20,European Grand Prix,2.800000,8.250000,0,NaN,2.0,3.941176,NaN,3.0
10,1,46,1,1,1,10.0,mclaren,hamilton,2007,11,Hungarian Grand Prix,2.636364,4.272727,1,NaN,2.0,3.941176,NaN,9.0
11,1,47,1,2,5,4.0,mclaren,hamilton,2007,5,Turkish Grand Prix,2.833333,5.000000,0,NaN,3.0,3.941176,NaN,1.0
12,1,48,1,2,2,8.0,mclaren,hamilton,2007,14,Italian Grand Prix,2.769231,5.727273,0,NaN,3.0,3.941176,NaN,5.0
13,1,49,1,4,4,5.0,mclaren,hamilton,2007,13,Belgian Grand Prix,2.857143,9.000000,0,NaN,3.0,3.941176,NaN,2.0
14,1,50,1,1,1,10.0,mclaren,hamilton,2007,16,Japanese Grand Prix,2.733333,6.500000,1,NaN,3.0,3.941176,NaN,4.0
15,20,51,1,1,19,0.0,mclaren,hamilton,2007,17,Chinese Grand Prix,3.750000,4.090909,0,NaN,4.0,3.941176,NaN,1.0
16,11,52,1,2,7,2.0,mclaren,hamilton,2007,18,Brazilian Grand Prix,3.941176,7.181818,0,NaN,4.0,3.941176,NaN,19.0
17,1,18,1,1,1,10.0,mclaren,hamilton,2008,1,Australian Grand Prix,3.777778,5.818182,1,0.0,4.0,4.600000,3.0,7.0
18,1,19,1,9,5,4.0,mclaren,hamilton,2008,2,Malaysian Grand Prix,3.842105,5.181818,0,0.0,5.0,4.600000,2.0,1.0
19,11,20,1,3,13,0.0,mclaren,hamilton,2008,3,Bahrain Grand Prix,4.300000,4.200000,0,0.0,5.0,4.600000,2.0,5.0
20,1,21,1,5,3,6.0,mclaren,hamilton,2008,4,Spanish Grand Prix,4.238095,6.818182,0,0.0,5.0,4.600000,2.0,13.0
21,1,22,1,3,2,8.0,mclaren,hamilton,2008,5,Turkish Grand Prix,4.136364,5.000000,0,0.0,5.0,4.600000,5.0,3.0
22,1,23,1,3,1,10.0,mclaren,hamilton,2008,6,Monaco Grand Prix,4.000000,4.363636,1,0.0,5.0,4.600000,2.0,2.0
23,4,24,1,1,19,0.0,mclaren,hamilton,2008,7,Canadian Grand Prix,4.625000,6.900000,0,1.0,6.0,4.600000,1.0,1.0
24,1,25,1,13,10,0.0,mclaren,hamilton,2008,8,French Grand Prix,4.840000,6.500000,0,0.0,6.0,4.600000,3.0,19.0
25,1,26,1,4,1,10.0,mclaren,hamilton,2008,9,British Grand Prix,4.692308,3.818182,1,0.0,6.0,4.600000,3.0,10.0
26,1,27,1,1,1,10.0,mclaren,hamilton,2008,10,German Grand Prix,4.555556,6.600000,1,NaN,7.0,4.600000,NaN,1.0
27,1,28,1,1,5,4.0,mclaren,hamilton,2008,11,Hungarian Grand Prix,4.571429,4.272727,0,1.0,8.0,4.600000,1.0,1.0
28,1,29,1,2,2,8.0,mclaren,hamilton,2008,12,European Grand Prix,4.482759,5.800000,0,NaN,8.0,4.600000,NaN,5.0
29,1,30,1,1,3,6.0,mclaren,hamilton,2008,13,Belgian Grand Prix,4.433333,9.000000,0,0.0,8.0,4.600000,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,1,959,1,2,1,25.0,mercedes,hamilton,2016,10,German Grand Prix,5.888268,6.600000,1,1.0,48.0,5.461538,3.0,1.0
179,1,960,1,21,3,15.0,mercedes,hamilton,2016,13,Belgian Grand Prix,5.872222,9.000000,0,2.0,49.0,5.461538,1.0,1.0
180,1,961,1,1,2,18.0,mercedes,hamilton,2016,14,Italian Grand Prix,5.850829,5.727273,0,3.0,49.0,5.461538,1.0,3.0
181,1,962,1,3,3,15.0,mercedes,hamilton,2016,15,Singapore Grand Prix,5.835165,8.000000,0,2.0,49.0,5.461538,18.0,2.0
182,5,963,1,1,18,0.0,mercedes,hamilton,2016,2,Malaysian Grand Prix,5.901639,5.181818,0,1.0,49.0,5.461538,2.0,3.0
183,1,964,1,2,3,15.0,mercedes,hamilton,2016,22,Japanese Grand Prix,5.885870,4.888889,0,2.0,49.0,5.461538,1.0,18.0
184,1,965,1,1,1,25.0,mercedes,hamilton,2016,69,United States Grand Prix,5.859459,1.500000,1,3.0,49.0,5.461538,1.0,3.0
185,1,966,1,1,1,25.0,mercedes,hamilton,2016,32,Mexican Grand Prix,5.833333,4.000000,1,0.0,50.0,5.461538,2.0,1.0
186,1,967,1,1,1,25.0,mercedes,hamilton,2016,18,Brazilian Grand Prix,5.807487,7.181818,1,0.0,51.0,5.461538,2.0,1.0
187,1,968,1,1,1,25.0,mercedes,hamilton,2016,24,Abu Dhabi Grand Prix,5.781915,6.222222,1,2.0,52.0,5.461538,2.0,1.0
188,1,969,1,1,2,18.0,mercedes,hamilton,2017,1,Australian Grand Prix,5.761905,5.818182,0,2.0,53.0,4.788136,2.0,1.0
189,1,970,1,1,1,25.0,mercedes,hamilton,2017,17,Chinese Grand Prix,5.736842,4.090909,1,4.0,53.0,4.788136,7.0,2.0
190,1,971,1,2,2,18.0,mercedes,hamilton,2017,3,Bahrain Grand Prix,5.717277,4.200000,0,2.0,54.0,4.788136,3.0,1.0
191,1,972,1,4,4,12.0,mercedes,hamilton,2017,71,Russian Grand Prix,5.708333,2.000000,0,2.0,54.0,4.788136,2.0,2.0
192,1,973,1,1,1,25.0,mercedes,hamilton,2017,4,Spanish Grand Prix,5.683938,6.818182,1,1.0,54.0,4.788136,21.0,4.0
193,1,974,1,13,7,6.0,mercedes,hamilton,2017,6,Monaco Grand Prix,5.690722,4.363636,0,2.0,55.0,4.788136,1.0,1.0
194,1,975,1,1,1,25.0,mercedes,hamilton,2017,7,Canadian Grand Prix,5.666667,6.900000,1,5.0,55.0,4.788136,1.0,7.0
195,1,976,1,1,5,10.0,mercedes,hamilton,2017,73,Azerbaijan Grand Prix,5.663265,5.000000,0,0.0,56.0,4.788136,5.0,1.0
196,1,977,1,8,4,12.0,mercedes,hamilton,2017,70,Austrian Grand Prix,5.654822,2.250000,0,1.0,56.0,4.788136,1.0,5.0
197,1,978,1,1,1,25.0,mercedes,hamilton,2017,9,British Grand Prix,5.631313,3.818182,1,4.0,56.0,4.788136,1.0,4.0
198,1,979,1,4,4,12.0,mercedes,hamilton,2017,11,Hungarian Grand Prix,5.623116,4.272727,0,5.0,57.0,4.788136,1.0,1.0
199,1,980,1,1,1,25.0,mercedes,hamilton,2017,13,Belgian Grand Prix,5.600000,9.000000,1,2.0,57.0,4.788136,3.0,4.0
200,1,981,1,1,1,25.0,mercedes,hamilton,2017,14,Italian Grand Prix,5.577114,5.727273,1,3.0,58.0,4.788136,2.0,1.0
201,1,982,1,5,1,25.0,mercedes,hamilton,2017,15,Singapore Grand Prix,5.554455,8.000000,1,2.0,59.0,4.788136,3.0,1.0
202,1,983,1,1,2,18.0,mercedes,hamilton,2017,2,Malaysian Grand Prix,5.536946,5.181818,0,1.0,60.0,4.788136,18.0,1.0
203,1,984,1,1,1,25.0,mercedes,hamilton,2017,22,Japanese Grand Prix,5.514706,4.888889,1,2.0,60.0,4.788136,3.0,2.0
204,1,985,1,1,1,25.0,mercedes,hamilton,2017,69,United States Grand Prix,5.492683,1.500000,1,4.0,61.0,4.788136,1.0,1.0
205,11,986,1,3,9,2.0,mercedes,hamilton,2017,32,Mexican Grand Prix,5.509709,4.000000,0,1.0,62.0,4.788136,1.0,1.0
206,1,987,1,20,4,12.0,mercedes,hamilton,2017,18,Brazilian Grand Prix,5.502415,7.181818,0,1.0,62.0,4.788136,1.0,9.0
207,1,988,1,2,2,18.0,mercedes,hamilton,2017,24,Abu Dhabi Grand Prix,5.485577,6.222222,0,3.0,62.0,4.788136,1.0,4.0

In [162]:
work_df.dtypes

[('statusId', 'int'),
 ('raceId', 'int'),
 ('driverId', 'int'),
 ('grid', 'int'),
 ('positionOrder', 'int'),
 ('points', 'double'),
 ('constructorRef', 'string'),
 ('driverRef', 'string'),
 ('year', 'int'),
 ('circuitId', 'int'),
 ('mean_position_overall', 'double'),
 ('mean_position_percircuit', 'double'),
 ('win', 'int')]

In [163]:
@pandas_udf("statusId int," 
            "raceId int," 
            "driverId int,"
            "grid int," 
            "positionOrder int,"
            "points double," 
            "constructorRef string,"
            "driverRef string,"
            "year int,"
            "circuitId int,"
            "mean_position_overall double," 
            "mean_position_percircuit double,"
            "win int,"
            "win_per_circuit int",
            PandasUDFType.GROUPED_MAP)
def get_wins_per_circuit(pdf):
    # pdf is a pandas.DataFrame
    win = pdf.win
    return pdf.assign(win_per_circuit= win.shift(1).cumsum())

In [144]:
work_df = work_df.groupby('driverId', 'circuitId').apply(get_wins_per_circuit)

In [164]:
def get_wins_per_circuit_pipe(df, *cols):
    col_list = [item for item in cols]
    return df.groupby(col_list).apply(get_wins_per_circuit)

In [165]:
test = get_wins_per_circuit_pipe(work_df, 'driverId', 'circuitId')

In [167]:
test.toPandas()

/Users/nhoogeveenxccelerated.com/Desktop/Projects/formula1/venv/lib/python3.7/site-packages/pyarrow/__init__.py:152: UserWarning: pyarrow.open_stream is deprecated, please use pyarrow.ipc.open_stream
  warnings.warn("pyarrow.open_stream is deprecated, please use "

,statusId,raceId,driverId,grid,positionOrder,points,constructorRef,driverRef,year,circuitId,mean_position_overall,mean_position_percircuit,win,win_per_circuit
0,11,69,3,10,10,0.0,williams,rosberg,2006,22,8.252427,8.777778,0,NaN
1,1,15,3,7,5,4.0,williams,rosberg,2009,22,8.252427,8.777778,0,0.0
2,22,352,3,6,17,0.0,mercedes,rosberg,2010,22,8.252427,8.777778,0,0.0
3,1,855,3,23,10,1.0,mercedes,rosberg,2011,22,8.252427,8.777778,0,0.0
4,4,874,3,13,24,0.0,mercedes,rosberg,2012,22,8.252427,8.777778,0,0.0
5,1,895,3,6,8,4.0,mercedes,rosberg,2013,22,8.252427,8.777778,0,0.0
6,1,914,3,1,2,18.0,mercedes,rosberg,2014,22,8.252427,8.777778,0,0.0
7,1,940,3,1,2,18.0,mercedes,rosberg,2015,22,8.252427,8.777778,0,0.0
8,1,964,3,1,1,25.0,mercedes,rosberg,2016,22,8.252427,8.777778,1,0.0
9,1,219,15,16,10,0.0,prost,trulli,1997,14,12.359375,13.266667,0,NaN
10,13,204,15,10,13,0.0,prost,trulli,1998,14,12.359375,13.266667,0,0.0
11,25,187,15,12,16,0.0,prost,trulli,1999,14,12.359375,13.266667,0,0.0
12,4,171,15,6,19,0.0,jordan,trulli,2000,14,12.359375,13.266667,0,0.0
13,4,155,15,5,22,0.0,jordan,trulli,2001,14,12.359375,13.266667,0,0.0
14,1,138,15,11,4,3.0,renault,trulli,2002,14,12.359375,13.266667,0,0.0
15,9,121,15,6,20,0.0,renault,trulli,2003,14,12.359375,13.266667,0,0.0
16,1,104,15,9,10,0.0,renault,trulli,2004,14,12.359375,13.266667,0,0.0
17,1,85,15,5,5,4.0,toyota,trulli,2005,14,12.359375,13.266667,0,0.0
18,1,67,15,11,7,2.0,toyota,trulli,2006,14,12.359375,13.266667,0,0.0
19,1,48,15,9,11,0.0,toyota,trulli,2007,14,12.359375,13.266667,0,0.0
20,1,31,15,7,13,0.0,toyota,trulli,2008,14,12.359375,13.266667,0,0.0
21,11,13,15,11,14,0.0,toyota,trulli,2009,14,12.359375,13.266667,0,0.0
22,5,350,15,17,21,0.0,lotus_racing,trulli,2010,14,12.359375,13.266667,0,0.0
23,12,853,15,19,14,0.0,lotus_racing,trulli,2011,14,12.359375,13.266667,0,0.0
24,1,857,18,4,2,18.0,mclaren,button,2011,68,9.695793,7.000000,0,NaN
25,1,876,18,4,5,10.0,mclaren,button,2012,68,9.695793,7.000000,0,0.0
26,11,896,18,10,14,0.0,mclaren,button,2013,68,9.695793,7.000000,0,0.0
27,13,83,39,18,12,0.0,jordan,karthikeyan,2005,11,18.458333,17.500000,0,NaN
28,22,870,39,24,23,0.0,hrt,karthikeyan,2012,11,18.458333,17.500000,0,0.0
29,16,115,43,9,11,0.0,toyota,matta,2003,7,12.107143,15.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23747,81,516,206,0,25,0.0,ensign,daly,1979,45,16.203125,20.500000,0,NaN
23748,15,489,206,22,16,0.0,march,daly,1981,45,16.203125,20.500000,0,0.0
23749,81,481,210,0,30,0.0,theodore,byrne,1982,14,22.600000,30.000000,0,NaN
23750,81,503,225,0,27,0.0,shadow,kennedy,1980,6,26.142857,27.000000,0,NaN
23751,97,530,240,0,29,0.0,shadow,ongais,1978,43,22.166667,29.000000,0,NaN
23752,62,601,270,24,13,0.0,token,ashley,1974,23,24.000000,20.500000,0,NaN
23753,81,554,270,0,28,0.0,hesketh,ashley,1977,23,24.000000,20.500000,0,0.0
23754,54,584,296,24,26,0.0,williams,migault,1975,34,18.066667,26.000000,0,NaN
23755,88,665,351,17,6,1.0,brabham-ford,moser,1969,46,16.111111,6.000000,0,NaN
23756,67,740,385,17,16,0.0,cooper-maserati,bandini,1961,13,9.954545,13.000000,0,NaN
23757,54,720,385,0,23,0.0,brm,bandini,1963,13,9.954545,13.000000,0,0.0
23758,5,711,385,9,14,0.0,ferrari,bandini,1964,13,9.954545,13.000000,0,0.0
23759,12,701,385,15,9,0.0,ferrari,bandini,1965,13,9.954545,13.000000,0,0.0
23760,11,691,385,5,3,4.0,ferrari,bandini,1966,13,9.954545,13.000000,0,0.0
23761,6,735,401,16,18,0.0,lotus-climax,trevor_taylor,1962,14,14.448276,19.500000,0,NaN
23762,81,716,401,0,21,0.0,brp,trevor_taylor,1964,14,14.448276,19.500000,0,0.0
23763,81,724,442,0,26,0.0,lotus-borgward,kuhnke,1963,20,28.500000,26.000000,0,NaN
23764,48,794,631,28,20,0.0,schroeder,andrews,1955,19,23.000000,23.000000,0,NaN
23765,7,786,631,20,26,0.0,kurtis_kraft,andrews,1956,19,23.000000,23.000000,0,0.0
23766,5,792,644,19,8,0.0,maserati,mantovani,1955,25,8.888889,7.500000,0,NaN
23767,53,792,644,18,7,0.0,maserati,mantovani,1955,25,8.888889,7.500000,0,0.0
23768,1,955,807,12,9,2.0,force_india,hulkenberg,2016,73,11.554745,13.000000,0,NaN
23769,3,976,807,13,17,0.0,renault,hulkenberg,2017,73,11.554745,13.000000,0,0.0
23770,15,344,810,23,19,0.0,virgin,grassi,2010,7,19.315789,19.000000,0,NaN
23771,1,868,811,13,9,2.0,williams,bruno_senna,2012,9,15.695652,9.000000,0,NaN
23772,1,955,815,7,3,15.0,force_india,perez,2016,73,10.558824,9.000000,0,NaN
23773,136,976,815,6,15,0.0,force_india,perez,2017,73,10.558824,9.000000,0,0.0
23774,12,909,820,21,17,0.0,marussia,chilton,2014,10,17.685714,17.000000,0,NaN
23775,1,967,839,22,12,0.0,manor,ocon,2016,18,11.103448,15.000000,0,NaN
23776,3,987,839,10,18,0.0,force_india,ocon,2017,18,11.103448,15.000000,0,0.0

In [178]:
test = test.orderBy(test.year.asc(), test.raceId.asc())

In [181]:
test.filter(test.driverRef == 'hamilton').toPandas()

,statusId,raceId,driverId,grid,positionOrder,points,constructorRef,driverRef,year,circuitId,mean_position_overall,mean_position_percircuit,win,win_per_circuit
0,1,36,1,4,3,6.0,mclaren,hamilton,2007,1,5.485577,5.818182,0,NaN
1,1,37,1,4,2,8.0,mclaren,hamilton,2007,2,5.485577,5.181818,0,NaN
2,1,38,1,2,2,8.0,mclaren,hamilton,2007,3,5.485577,4.200000,0,NaN
3,1,39,1,4,2,8.0,mclaren,hamilton,2007,4,5.485577,6.818182,0,NaN
4,1,40,1,2,2,8.0,mclaren,hamilton,2007,6,5.485577,4.363636,0,NaN
5,1,41,1,1,1,10.0,mclaren,hamilton,2007,7,5.485577,6.900000,1,NaN
6,1,42,1,1,1,10.0,mclaren,hamilton,2007,19,5.485577,1.000000,1,NaN
7,1,43,1,2,3,6.0,mclaren,hamilton,2007,8,5.485577,6.500000,0,NaN
8,1,44,1,1,3,6.0,mclaren,hamilton,2007,9,5.485577,3.818182,0,NaN
9,11,45,1,10,9,0.0,mclaren,hamilton,2007,20,5.485577,8.250000,0,NaN
10,1,46,1,1,1,10.0,mclaren,hamilton,2007,11,5.485577,4.272727,1,NaN
11,1,47,1,2,5,4.0,mclaren,hamilton,2007,5,5.485577,5.000000,0,NaN
12,1,48,1,2,2,8.0,mclaren,hamilton,2007,14,5.485577,5.727273,0,NaN
13,1,49,1,4,4,5.0,mclaren,hamilton,2007,13,5.485577,9.000000,0,NaN
14,1,50,1,1,1,10.0,mclaren,hamilton,2007,16,5.485577,6.500000,1,NaN
15,20,51,1,1,19,0.0,mclaren,hamilton,2007,17,5.485577,4.090909,0,NaN
16,11,52,1,2,7,2.0,mclaren,hamilton,2007,18,5.485577,7.181818,0,NaN
17,1,18,1,1,1,10.0,mclaren,hamilton,2008,1,5.485577,5.818182,1,0.0
18,1,19,1,9,5,4.0,mclaren,hamilton,2008,2,5.485577,5.181818,0,0.0
19,11,20,1,3,13,0.0,mclaren,hamilton,2008,3,5.485577,4.200000,0,0.0
20,1,21,1,5,3,6.0,mclaren,hamilton,2008,4,5.485577,6.818182,0,0.0
21,1,22,1,3,2,8.0,mclaren,hamilton,2008,5,5.485577,5.000000,0,0.0
22,1,23,1,3,1,10.0,mclaren,hamilton,2008,6,5.485577,4.363636,1,0.0
23,4,24,1,1,19,0.0,mclaren,hamilton,2008,7,5.485577,6.900000,0,1.0
24,1,25,1,13,10,0.0,mclaren,hamilton,2008,8,5.485577,6.500000,0,0.0
25,1,26,1,4,1,10.0,mclaren,hamilton,2008,9,5.485577,3.818182,1,0.0
26,1,27,1,1,1,10.0,mclaren,hamilton,2008,10,5.485577,6.600000,1,NaN
27,1,28,1,1,5,4.0,mclaren,hamilton,2008,11,5.485577,4.272727,0,1.0
28,1,29,1,2,2,8.0,mclaren,hamilton,2008,12,5.485577,5.800000,0,NaN
29,1,30,1,1,3,6.0,mclaren,hamilton,2008,13,5.485577,9.000000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,1,959,1,2,1,25.0,mercedes,hamilton,2016,10,5.485577,6.600000,1,1.0
179,1,960,1,21,3,15.0,mercedes,hamilton,2016,13,5.485577,9.000000,0,2.0
180,1,961,1,1,2,18.0,mercedes,hamilton,2016,14,5.485577,5.727273,0,3.0
181,1,962,1,3,3,15.0,mercedes,hamilton,2016,15,5.485577,8.000000,0,2.0
182,5,963,1,1,18,0.0,mercedes,hamilton,2016,2,5.485577,5.181818,0,1.0
183,1,964,1,2,3,15.0,mercedes,hamilton,2016,22,5.485577,4.888889,0,2.0
184,1,965,1,1,1,25.0,mercedes,hamilton,2016,69,5.485577,1.500000,1,3.0
185,1,966,1,1,1,25.0,mercedes,hamilton,2016,32,5.485577,4.000000,1,0.0
186,1,967,1,1,1,25.0,mercedes,hamilton,2016,18,5.485577,7.181818,1,0.0
187,1,968,1,1,1,25.0,mercedes,hamilton,2016,24,5.485577,6.222222,1,2.0
188,1,969,1,1,2,18.0,mercedes,hamilton,2017,1,5.485577,5.818182,0,2.0
189,1,970,1,1,1,25.0,mercedes,hamilton,2017,17,5.485577,4.090909,1,4.0
190,1,971,1,2,2,18.0,mercedes,hamilton,2017,3,5.485577,4.200000,0,2.0
191,1,972,1,4,4,12.0,mercedes,hamilton,2017,71,5.485577,2.000000,0,2.0
192,1,973,1,1,1,25.0,mercedes,hamilton,2017,4,5.485577,6.818182,1,1.0
193,1,974,1,13,7,6.0,mercedes,hamilton,2017,6,5.485577,4.363636,0,2.0
194,1,975,1,1,1,25.0,mercedes,hamilton,2017,7,5.485577,6.900000,1,5.0
195,1,976,1,1,5,10.0,mercedes,hamilton,2017,73,5.485577,5.000000,0,0.0
196,1,977,1,8,4,12.0,mercedes,hamilton,2017,70,5.485577,2.250000,0,1.0
197,1,978,1,1,1,25.0,mercedes,hamilton,2017,9,5.485577,3.818182,1,4.0
198,1,979,1,4,4,12.0,mercedes,hamilton,2017,11,5.485577,4.272727,0,5.0
199,1,980,1,1,1,25.0,mercedes,hamilton,2017,13,5.485577,9.000000,1,2.0
200,1,981,1,1,1,25.0,mercedes,hamilton,2017,14,5.485577,5.727273,1,3.0
201,1,982,1,5,1,25.0,mercedes,hamilton,2017,15,5.485577,8.000000,1,2.0
202,1,983,1,1,2,18.0,mercedes,hamilton,2017,2,5.485577,5.181818,0,1.0
203,1,984,1,1,1,25.0,mercedes,hamilton,2017,22,5.485577,4.888889,1,2.0
204,1,985,1,1,1,25.0,mercedes,hamilton,2017,69,5.485577,1.500000,1,4.0
205,11,986,1,3,9,2.0,mercedes,hamilton,2017,32,5.485577,4.000000,0,1.0
206,1,987,1,20,4,12.0,mercedes,hamilton,2017,18,5.485577,7.181818,0,1.0
207,1,988,1,2,2,18.0,mercedes,hamilton,2017,24,5.485577,6.222222,0,3.0

In [ ]:
@log_step
def result_previous_race(df):
    return df.assign(
    result_previous_race = lambda df: df.groupby('driverId')['positionOrder'].shift(1)
    )

In [ ]:
def result_previous_race(df):
    window = Window.partitionBy('driverId').orderBy('year', 'raceId')
    
    return df.withColumn('result_previous_race', sf.lag('positionOrder').over(window))

In [ ]:
mid_window = Window.orderBy('mid')
with_previous = (
    with_average
    .withColumn('temp_delta', sf.col('temperature') -
                sf.lag('temperature').over(mid_window))
)

In [168]:
work_df.orderBy(work_df.year.asc(), work_df.raceId.asc()).toPandas()

,statusId,raceId,driverId,grid,positionOrder,points,constructorRef,driverRef,year,circuitId,mean_position_overall,mean_position_percircuit,win
0,1,833,642,1,1,9.0,alfa,farina,1950,9,5.837838,6.000000,1
1,16,833,784,16,9,0.0,maserati,hampshire,1950,9,12.500000,9.000000,0
2,13,833,787,15,7,0.0,era,harrison,1950,9,11.000000,7.000000,0
3,1,833,686,4,3,4.0,alfa,reg_parnell,1950,9,10.857143,9.500000,0
4,5,833,747,18,15,0.0,maserati,murray,1950,9,17.250000,20.333333,0
5,16,833,660,21,11,0.0,lago,claes,1950,9,13.840000,12.666667,0
6,12,833,704,6,4,3.0,lago,cabantous,1950,9,11.538462,4.000000,0
7,62,833,776,19,13,0.0,alta,kelly,1950,9,14.000000,14.000000,0
8,44,833,579,3,12,0.0,alfa,fangio,1950,9,4.793103,4.200000,0
9,6,833,666,10,20,0.0,era,rolt,1950,9,17.000000,16.000000,0
10,13,833,619,13,6,0.0,era,gerard,1950,9,8.714286,9.500000,0
11,60,833,669,5,14,0.0,maserati,bira,1950,9,12.052632,13.000000,0
12,12,833,627,9,5,2.0,lago,rosier,1950,9,10.641026,15.200000,0
13,6,833,661,10,20,0.0,era,peter_walker,1950,9,15.500000,13.500000,0
14,8,833,589,11,18,0.0,maserati,chiron,1950,9,14.058824,18.500000,0
15,15,833,741,14,8,0.0,lago,etancelin,1950,9,10.416667,8.000000,0
16,51,833,789,7,19,0.0,lago,martin,1950,9,16.500000,19.000000,0
17,126,833,790,12,21,0.0,era,leslie_johnson,1950,9,21.000000,21.000000,0
18,1,833,786,2,2,6.0,alfa,fagioli,1950,9,4.375000,2.000000,0
19,5,833,640,8,17,0.0,maserati,graffenried,1950,9,12.217391,18.333333,0
20,16,833,778,20,10,0.0,maserati,shawe_taylor,1950,9,9.000000,9.000000,0
21,7,833,785,17,16,0.0,alta,crossley,1950,9,12.500000,16.000000,0
22,16,833,788,20,10,0.0,maserati,fry,1950,9,10.000000,10.000000,0
23,109,834,633,6,8,0.0,ferrari,villoresi,1950,6,9.885714,6.500000,0
24,3,834,642,2,11,0.0,alfa,farina,1950,6,5.837838,7.500000,0
25,3,834,762,17,18,0.0,maserati,rol,1950,6,14.600000,18.000000,0
26,3,834,787,14,17,0.0,era,harrison,1950,6,11.000000,17.000000,0
27,4,834,501,20,19,0.0,cooper,schell,1950,6,11.031250,11.142857,0
28,3,834,626,11,14,0.0,simca,manzon,1950,6,13.655172,13.000000,0
29,16,834,660,19,7,0.0,lago,claes,1950,6,13.840000,7.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23747,5,987,843,18,17,0.0,toro_rosso,brendon_hartley,2017,18,15.750000,17.000000,0
23748,3,987,838,12,19,0.0,mclaren,vandoorne,2017,18,13.523810,19.000000,0
23749,1,987,4,6,8,4.0,mclaren,alonso,2017,18,7.911263,6.687500,0
23750,1,987,8,3,3,15.0,ferrari,raikkonen,2017,18,7.813187,6.357143,0
23751,1,987,817,14,6,8.0,red_bull,ricciardo,2017,18,9.720930,12.285714,0
23752,11,987,828,17,13,0.0,sauber,ericsson,2017,18,15.447368,16.666667,0
23753,11,987,807,7,10,1.0,renault,hulkenberg,2017,18,11.554745,7.428571,0
23754,3,987,825,13,20,0.0,haas,kevin_magnussen,2017,18,12.737705,14.333333,0
23755,11,987,832,8,11,0.0,renault,sainz,2017,18,12.300000,12.000000,0
23756,1,987,815,5,9,2.0,force_india,perez,2017,18,10.558824,11.857143,0
23757,1,988,830,6,5,10.0,red_bull,max_verstappen,2017,24,9.050000,8.333333,0
23758,11,988,842,17,16,0.0,toro_rosso,gasly,2017,24,13.600000,16.000000,0
23759,1,988,822,1,1,25.0,mercedes,bottas,2017,24,8.346939,10.600000,1
23760,1,988,1,2,2,18.0,mercedes,hamilton,2017,24,5.485577,6.222222,0
23761,11,988,13,10,10,1.0,williams,massa,2017,24,8.996310,7.375000,0
23762,1,988,20,3,3,15.0,ferrari,vettel,2017,24,6.140704,5.333333,0
23763,1,988,839,9,8,4.0,force_india,ocon,2017,24,11.103448,10.500000,0
23764,11,988,840,15,18,0.0,williams,stroll,2017,24,12.400000,18.000000,0
23765,11,988,836,18,14,0.0,sauber,wehrlein,2017,24,16.128205,14.000000,0
23766,11,988,154,16,11,0.0,haas,grosjean,2017,24,12.653226,12.142857,0
23767,11,988,843,20,15,0.0,toro_rosso,brendon_hartley,2017,24,15.750000,15.000000,0
23768,11,988,838,13,12,0.0,mclaren,vandoorne,2017,24,13.523810,12.000000,0
23769,11,988,4,11,9,2.0,mclaren,alonso,2017,24,7.911263,8.333333,0
23770,1,988,8,5,4,12.0,ferrari,raikkonen,2017,24,7.813187,8.285714,0
23771,9,988,817,4,20,0.0,red_bull,ricciardo,2017,24,9.720930,11.714286,0
23772,11,988,828,19,17,0.0,sauber,ericsson,2017,24,15.447368,15.333333,0
23773,1,988,807,7,6,8.0,renault,hulkenberg,2017,24,11.554745,11.428571,0
23774,11,988,825,14,13,0.0,haas,kevin_magnussen,2017,24,12.737705,15.333333,0
23775,36,988,832,12,19,0.0,renault,sainz,2017,24,12.300000,16.000000,0
23776,1,988,815,8,7,6.0,force_india,perez,2017,24,10.558824,8.857143,0

In [ ]:
@log_step
def mean_last_5races(df):
    return df.assign(
        mean_last5_races = lambda df: df.groupby('driverId')['positionOrder']
        .transform(lambda df: df.shift(1).rolling(5).mean())
    )

In [ ]:
@log_step_spark
def mean_last_5races(df):
    window = Window.partitionBy('driverId').orderBy('year','raceId').rangeBetween(5, Window.currentRow)

    return df.withColumn('mean_last5_races', sf.mean('positionOrder').over(window))

In [15]:
(work_df.filter((sf.col('driverRef') == 'hamilton') & (sf.col('year') == 2017))
 .select(sf.col('driverRef'), sf.col('year'), sf.col('circuitId'), sf.col('win'))
 .sort(sf.col('raceId'))
 .show()
)

+---------+----+---------+-----+
|driverRef|year|circuitId|  win|
+---------+----+---------+-----+
| hamilton|2017|        1|false|
| hamilton|2017|       17| true|
| hamilton|2017|        3|false|
| hamilton|2017|       71|false|
| hamilton|2017|        4| true|
| hamilton|2017|        6|false|
| hamilton|2017|        7| true|
| hamilton|2017|       73|false|
| hamilton|2017|       70|false|
| hamilton|2017|        9| true|
| hamilton|2017|       11|false|
| hamilton|2017|       13| true|
| hamilton|2017|       14| true|
| hamilton|2017|       15| true|
| hamilton|2017|        2|false|
| hamilton|2017|       22| true|
| hamilton|2017|       69| true|
| hamilton|2017|       32|false|
| hamilton|2017|       18|false|
| hamilton|2017|       24|false|
+---------+----+---------+-----+

In [ ]:
@log_step
def get_wins_per_circuit(df):
    return df.assign(
        win_per_circuit = lambda df: df.groupby(['driverId','circuitId'])['win']
        .transform(lambda df: df.shift(1).cumsum())
    )

In [52]:
work_df.groupby('driverRef').agg(sf.sum(work_df.win)).show()

+------------+--------+
|   driverRef|sum(win)|
+------------+--------+
|       godia|       0|
|      pollet|       0|
|       hobbs|       0|
| karthikeyan|       0|
|  scarfiotti|       1|
|       irwin|       0|
|     angelis|       2|
|      alliot|       0|
|   magnussen|       0|
|      rosset|       0|
|    flaherty|       1|
|  stuppacher|       0|
|       terra|       0|
|    macdowel|       0|
|   hurtubise|       0|
|    blignaut|       0|
| alguersuari|       0|
|      holmes|       0|
|    cantrell|       0|
|lucienbonnet|       0|
+------------+--------+
only showing top 20 rows

In [13]:
window = Window.partitionBy('driverId', 'circuitId').orderBy('raceId')

In [46]:
(work_df.groupby('driverRef')
 .sum('win')
 .filter(work_df.driverRef == 'hamilton')
 .show()
)

+---------+--------+
|driverRef|sum(win)|
+---------+--------+
| hamilton|      62|
+---------+--------+

In [41]:
work_df.printSchema()

root
 |-- statusId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- constructorId: integer (nullable = true)
 |-- number: integer (nullable = true)
 |-- grid: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- positionOrder: integer (nullable = true)
 |-- points: double (nullable = true)
 |-- laps: integer (nullable = true)
 |-- milliseconds: integer (nullable = true)
 |-- fastestLap: integer (nullable = true)
 |-- rank: integer (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: string (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: integer (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- round: integer (nullable = true)
 |-- circuitId: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- status: string (nullable = true)
 |-- mean_position_overall: double (nullable = true)
 |-- mean_position_percircuit: double (nullable = true)
 |-- win: boolean (nullable = true)

In [5]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

In [6]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [8]:
df.select(sf.col('v')).show()

+----+
|   v|
+----+
| 1.0|
| 2.0|
| 3.0|
| 5.0|
|10.0|
+----+

In [38]:
@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.v
    return pdf.assign(v = v - v.mean())

In [39]:
df.groupby("id").apply(subtract_mean)

DataFrame[id: bigint, v: double]

In [37]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [41]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.v
    return pdf.assign(v=v - v.mean())

#df.groupby("id").apply(subtract_mean).show()
# +---+----+
# | id|   v|
# +---+----+
# |  1|-0.5|
# |  1| 0.5|
# |  2|-3.0|
# |  2|-1.0|
# |  2| 4.0|
# +---+----+

In [42]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [45]:
@pandas_udf(df.schema, PandasUDFType.GROUPED_MAP)
# Input/output are both a pandas.DataFrame
def subtract_mean(pdf):
    return pdf.assign(v=pdf.v - pdf.v.mean())

df.groupby('id').apply(subtract_mean)

DataFrame[id: bigint, v: double]

In [44]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [16]:
def get_wins_per_circuit(df):
    window = Window.partitionBy('driverId', 'circuitId').orderBy('raceId')
    
    return (df.withColumn('win_per_circuit')
            , sum(df('win'))
            .over(window)
            )

In [12]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.v
    return pdf.assign(v=v - v.mean())

df.groupby("id").apply(subtract_mean).show()

Py4JJavaError: An error occurred while calling o53.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 44 in stage 7.0 failed 1 times, most recent failure: Lost task 44.0 in stage 7.0 (TID 136, localhost, executor driver): org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:486)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:475)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:36)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:178)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:159)
	... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:486)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:475)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:36)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:178)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:159)
	... 26 more

In [82]:
work_df.withColumn('win', sf.col('positionOrder') == 1)

DataFrame[statusId: int, raceId: int, driverId: int, constructorId: int, number: int, grid: int, position: int, positionOrder: int, points: double, laps: int, milliseconds: int, fastestLap: int, rank: int, fastestLapTime: string, fastestLapSpeed: string, constructorRef: string, name: string, nationality: string, driverRef: string, number: int, forename: string, surname: string, nationality: string, year: int, round: int, circuitId: int, name: string, date: timestamp, status: string, mean_position_overall: double, mean_position_percircuit: double, win: boolean]

In [78]:
def get_wins(df):
    return df.withColumn('win', sf.col('positionOrder') == 1)

In [ ]:
df.filter(df.X == 1).toPandas()

In [ ]:
def average_finishing(df):
    window = Window.partitionBy('driverId')

    return df.withColumn('mean_position_overall', sf.avg('positionOrder').over(window))

In [70]:
def demean_circuit_from_mean(df):
    window = Window.partitionBy('driverId', 'circuitId')
    
    (df.withColumn('demean_circuit'),
     sf.col('mean_position_overall') - sf.avg('positionOrder').over(window)
    )

In [ ]:
# (airlines
#  .filter(~sf.isnan(sf.col('arr_delay')))
#  .withColumn("demean_arry_delay", 
#              sf.col('arr_delay') - sf.avg('arr_delay').over(window))
#  .toPandas()
# )

In [69]:
(work_df.groupby(sf.col('driverRef'), sf.col('circuitId')).agg(sf.mean(work_df.positionOrder))
 .filter(sf.col('driverRef') == 'hamilton')
 .withColumn('demean_position', sf.col('avg(positionOrder)') - )
 .toPandas()
)

   driverRef  circuitId  avg(positionOrder)  demean_position
0   hamilton         13            9.000000        18.000000
1   hamilton          6            4.363636         8.727273
2   hamilton         70            2.250000         4.500000
3   hamilton         11            4.272727         8.545455
4   hamilton         18            7.181818        14.363636
5   hamilton         12            5.800000        11.600000
6   hamilton         24            6.222222        12.444444
7   hamilton         35            4.750000         9.500000
8   hamilton         16            6.500000        13.000000
9   hamilton         20            8.250000        16.500000
10  hamilton         10            6.600000        13.200000
11  hamilton          9            3.818182         7.636364
12  hamilton          5            5.000000        10.000000
13  hamilton         14            5.727273        11.454545
14  hamilton          8            6.500000        13.000000
15  hamilton         71            2.000000         4.000000
16  hamilton         69            1.500000         3.000000
17  hamilton         19            1.000000         2.000000
18  hamilton         32            4.000000         8.000000
19  hamilton         17            4.090909         8.181818
20  hamilton         73            5.000000        10.000000
21  hamilton          2            5.181818        10.363636
22  hamilton          7            6.900000        13.800000
23  hamilton          4            6.818182        13.636364
24  hamilton          3            4.200000         8.400000
25  hamilton          1            5.818182        11.636364
26  hamilton         22            4.888889         9.777778
27  hamilton         68            5.666667        11.333333
28  hamilton         15            8.000000        16.000000

In [ ]:
#df.filter(df.X == 1).toPandas()

In [51]:
(work_df.filter(work_df.driverRef == 'hamilton')
 .select('driverRef', 'positionOrder')
 .withColumn()
)

    driverRef  positionOrder
0    hamilton              3
1    hamilton              2
2    hamilton              2
3    hamilton              2
4    hamilton              2
5    hamilton              1
6    hamilton              1
7    hamilton              3
8    hamilton              3
9    hamilton              9
10   hamilton              1
11   hamilton              5
12   hamilton              2
13   hamilton              4
14   hamilton              1
15   hamilton             19
16   hamilton              7
17   hamilton              1
18   hamilton              5
19   hamilton             13
20   hamilton              3
21   hamilton              2
22   hamilton              1
23   hamilton             19
24   hamilton             10
25   hamilton              1
26   hamilton              1
27   hamilton              5
28   hamilton              2
29   hamilton              3
..        ...            ...
178  hamilton              1
179  hamilton              3
180  hamilton              2
181  hamilton              3
182  hamilton             18
183  hamilton              3
184  hamilton              1
185  hamilton              1
186  hamilton              1
187  hamilton              1
188  hamilton              2
189  hamilton              1
190  hamilton              2
191  hamilton              4
192  hamilton              1
193  hamilton              7
194  hamilton              1
195  hamilton              5
196  hamilton              4
197  hamilton              1
198  hamilton              4
199  hamilton              1
200  hamilton              1
201  hamilton              1
202  hamilton              2
203  hamilton              1
204  hamilton              1
205  hamilton              9
206  hamilton              4
207  hamilton              2

[208 rows x 2 columns]

In [39]:
work_df.groupby('driverId').sum('positionOrder').show()

+--------+------------------+
|driverId|sum(positionOrder)|
+--------+------------------+
|     496|               126|
|     463|                73|
|     471|                 9|
|     148|               608|
|     833|               204|
|     737|                14|
|     623|                20|
|     540|                42|
|     392|                30|
|     243|               897|
|     516|                75|
|      31|               810|
|     580|               157|
|     451|                22|
|     251|               367|
|     137|              2075|
|      85|               539|
|     808|               833|
|     458|                21|
|      65|              2129|
+--------+------------------+
only showing top 20 rows

In [36]:
work_df.groupby('driverRef').agg(sf.min(work_df.mean_position_overall)).toPandas()

             driverRef  min(mean_position_overall)
0                godia                   11.214286
1                hobbs                    9.000000
2               pollet                   13.200000
3          karthikeyan                   18.458333
4           scarfiotti                   11.846154
5            magnussen                   15.400000
6                irwin                   11.100000
7               alliot                   16.547826
8              angelis                   11.981818
9               rosset                   15.266667
10          stuppacher                   27.666667
11            flaherty                   15.000000
12            blignaut                   31.000000
13               terra                   14.500000
14           hurtubise                   18.000000
15         alguersuari                   13.891304
16            macdowel                    7.000000
17              holmes                   21.000000
18               creus                   21.000000
19        lucienbonnet                   23.000000
20          vic_wilson                   16.500000
21               sainz                   12.300000
22            cantrell                   27.000000
23             nazaruk                    9.333333
24          friesacher                   16.000000
25            schiller                   24.500000
26               senna                    8.259259
27            donnelly                   16.600000
28            tarquini                   23.858974
29              purley                   20.636364
..                 ...                         ...
812            nilsson                   14.093750
813   riseley_prichard                   22.000000
814              daigh                   17.833333
815             magill                   23.666667
816          ricciardo                    9.720930
817            garrett                   18.500000
818          schroeder                   10.000000
819            widdows                   13.000000
820          scheckter                    9.292035
821          cabantous                   11.538462
822             mitter                   14.600000
823  wilson_fittipaldi                   16.026316
824             peters                   28.000000
825               hart                   14.000000
826            la_caze                   14.000000
827            laurent                    9.000000
828             brudes                   16.000000
829           vukovich                   14.600000
830            prophet                   15.000000
831               ward                   16.750000
832              glock                   15.231579
833            fagioli                    4.375000
834              speed                   15.071429
835              comas                   14.761905
836             carini                   24.333333
837             turner                   22.000000
838         giovinazzi                   15.500000
839             revson                   10.129032
840              south                   27.000000
841            milhoux                    8.000000

[842 rows x 2 columns]

In [6]:
work_df.columns

['statusId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionOrder',
 'points',
 'laps',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'constructorRef',
 'name',
 'nationality',
 'driverRef',
 'number',
 'forename',
 'surname',
 'nationality',
 'year',
 'round',
 'circuitId',
 'name',
 'date',
 'status']

In [ ]:
@log_step
def average_finishing(df):
    return df.assign(
        mean_position_till_date = lambda df: df.groupby('driverId')['positionOrder']
        .transform(lambda df: df.shift(1).expanding().mean())
    )

In [7]:
from pyspark.sql.window import Window

In [23]:
#pyspark
def average_finishing(df):
    window = Window.partitionBy('driverId')
    
    return df.withColumn('mean_position_overall', sf.avg('positionOrder').over(window))

In [8]:
def diff_between_races(df):
    window = Window.partitionBy('driverId').orderBy('raceId')
    
    return df.withColumn('difference_races', sf.col('positionOrder') - sf.lag(sf.col('positionOrder')).over(window))

In [9]:
x = diff_between_races(work_df)

In [16]:
#x.select('difference_races','driverRef').show()

(x.filter(x.driverRef == 'hamilton')
 .select('difference_races','driverRef').describe().show()
)

+-------+--------------------+---------+
|summary|    difference_races|driverRef|
+-------+--------------------+---------+
|  count|                 207|      208|
|   mean|-0.08695652173913043|     null|
| stddev|   8.773424894623286|     null|
|    min|                 -23| hamilton|
|    max|                  23| hamilton|
+-------+--------------------+---------+

In [18]:
window = Window.partitionBy('driverId').orderBy('raceId')

In [ ]:
work_df.select('')

In [184]:
def average_finishing(df):
    window =  Window.partitionBy('driverId')
    
    return df.withColumn('mean_position_till_date', sf.avg('positionOrder').over(window))

In [ ]:
sf.lag('temperature').over(mid_window))

In [183]:
work_df.show()

+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+-----------+-----------+--------------+------+--------+--------------+-----------+----+-----+---------+------------------+-------------------+--------------+
|statusId|raceId|driverId|constructorId|number|grid|position|positionOrder|points|laps|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|constructorRef|       name|nationality|     driverRef|number|forename|       surname|nationality|year|round|circuitId|              name|               date|        status|
+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+-----------+-----------+--------------+------+--------+--------------+-----------+----+-----+---------+------------------+-------------------+--------------+
|       1|   833|     642|           51|     2|   1|       1|            1|   9.0|  70|     8003600|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|        farina|  null|    Nino|        Farina|    Italian|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Finished|
|     126|   833|     790|          151|     8|  12|    null|           21|   0.0|   2|        null|      null|null|          null|           null|           era|        ERA|    British|leslie_johnson|  null|  Leslie|       Johnson|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|  Supercharger|
|       1|   833|     786|           51|     3|   2|       2|            2|   6.0|  70|     8006200|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|       fagioli|  null|   Luigi|       Fagioli|    Italian|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Finished|
|       1|   833|     686|           51|     4|   4|       3|            3|   4.0|  70|     8055600|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|   reg_parnell|  null|     Reg|       Parnell|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Finished|
|      12|   833|     704|          154|    14|   6|       4|            4|   3.0|  68|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|     cabantous|  null|    Yves|     Cabantous|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +2 Laps|
|      12|   833|     627|          154|    15|   9|       5|            5|   2.0|  68|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|        rosier|  null|   Louis|        Rosier|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +2 Laps|
|      13|   833|     619|          151|    12|  13|       6|            6|   0.0|  67|        null|      null|null|          null|           null|           era|        ERA|    British|        gerard|  null|     Bob|        Gerard|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +3 Laps|
|      13|   833|     787|          151|    11|  15|       7|            7|   0.0|  67|        null|      null|null|          null|           null|           era|        ERA|    British|      harrison|  null|    Cuth|      Harrison|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +3 Laps|
|      15|   833|     741|          154|    16|  14|       8|            8|   0.0|  65|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|     etancelin|  null|Philippe|    Ìätancelin|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +5 Laps|
|      16|   833|     784|          105|     6|  16|       9|            9|   0.0|  64|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|     hampshire|  null|   David|     Hampshire|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +6 Laps|
|      16|   833|     778|          105|    10|  20|      10|           10|   0.0|  64|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|  shawe_taylor|  null|   Brian|  Shawe Taylor|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +6 Laps|
|      16|   833|     660|          154|    18|  21|      11|           11|   0.0|  64|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|         claes|  null|  Johnny|         Claes|    Belgian|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +6 Laps|
|      44|   833|     579|           51|     1|   3|    null|           12|   0.0|  62|        null|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|        fangio|  null|    Juan|        Fangio|  Argentine|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Oil leak|
|      62|   833|     776|          126|    23|  19|    null|           13|   0.0|  57|        null|      null|null|          null|           null|          alta|       Alta|    British|         kelly|  null|     Joe|         Kelly|      Irish|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|Not classified|
|      60|   833|     669|          105|    21|   5|    null|           14|   0.0|  49|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|          bira|  null|  Prince|          Bira|       Thai|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|   Out of fuel|
|       5|   833|     747|          105|     5|  18|    null|           15|   0.0|  44|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|        murray|  null|   David|        Murray|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|        Engine|
|       7|   833|     785|          126|    24|  17|    null|           16|   0.0|  43|        null|      null|null|          null|           null|          alta|       Alta|    British|      crossley|  null|   Geoff|      Crossley|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|  Transmission|
|       5|   833|     640|          105|    20|   8|    null|           17|   0.0|  36|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|   graffenried|  null|   Toulo|de Graffenried|      Swiss|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|        Engine|
|       8|   833|     589|          105|    19|  11|    null|           18|   0.0|  26|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|        chiron|  null|   Louis|        Chiron| Monegasque|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|        Clutch|
|      51|   833|     789|          154|    17|   7|    null|           19|   0.0|   8|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|        martin|  null| EugÌ¬ne|        Martin|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|  Oil pressure|
+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+-----------+-----------+--------------+------+--------+--------------+-----------+----+-----+---------+------------------+-------------------+--------------+
only showing top 20 rows

In [180]:
def average_finishing_test(df):
    window =  Window.partitionBy('driverId')
    
    return df.withColumn('lagged_by_one', sf.lag('positionOrder').over(window))

In [181]:
x = average_finishing_test(work_df)

AnalysisException: 'Window function lag(positionOrder#6326, 1, null) requires window to be ordered, please add ORDER BY clause. For example SELECT lag(positionOrder#6326, 1, null)(value_expr) OVER (PARTITION BY window_partition ORDER BY window_ordering) from table;'

In [ ]:
df.filter(df.X == 1).toPandas()

In [163]:
x.filter(x.driverRef == 'hamilton').select('mean_position').show()

+-----------------+
|    mean_position|
+-----------------+
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
+-----------------+
only showing top 20 rows

In [ ]:
@log_step
def average_finishing(df):
    return df.assign(
        mean_position_till_date = lambda df: df.groupby('driverId')['positionOrder']
        .transform(lambda df: df.shift(1).expanding().mean())
    )

# Get the driver with the max driverID

In [38]:
work_df.select('driverRef','driverId').toPandas()

             driverRef  driverId
0             hamilton         1
1             heidfeld         2
2              rosberg         3
3               alonso         4
4           kovalainen         5
5             nakajima         6
6             bourdais         7
7            raikkonen         8
8               kubica         9
9                glock        10
10                sato        11
11           piquet_jr        12
12               massa        13
13           coulthard        14
14              trulli        15
15               sutil        16
16              webber        17
17              button        18
18            davidson        19
19              vettel        20
20          fisichella        21
21         barrichello        22
22           raikkonen         8
23              kubica         9
24          kovalainen         5
25              trulli        15
26            hamilton         1
27            heidfeld         2
28              webber        17
29              alonso         4
...                ...       ...
23747            sainz       832
23748            gasly       842
23749         ericsson       828
23750         wehrlein       836
23751         grosjean       154
23752           stroll       840
23753  brendon_hartley       843
23754             ocon       839
23755        vandoorne       838
23756  kevin_magnussen       825
23757           bottas       822
23758         hamilton         1
23759           vettel        20
23760        raikkonen         8
23761   max_verstappen       830
23762       hulkenberg       807
23763            perez       815
23764             ocon       839
23765           alonso         4
23766            massa        13
23767         grosjean       154
23768        vandoorne       838
23769  kevin_magnussen       825
23770         wehrlein       836
23771  brendon_hartley       843
23772            gasly       842
23773         ericsson       828
23774           stroll       840
23775            sainz       832
23776        ricciardo       817

[23777 rows x 2 columns]

In [44]:
max_driverId = work_df.agg({"driverId": "max"}).collect()[0][0]
max_driverId

843

In [70]:
work_df.filter(work_df.driverId == max_driverId).show()

+--------+------+--------+-------------+--------+------+----+--------+------------+-------------+------+----+----+------------+----------+----+--------------+---------------+--------------+----------+-----------+--------------------+----+---------------+------+----+--------+-------+----------+-------------+--------------------+----+-----+---------+--------------------+-------------------+--------+--------------------+------+
|statusId|raceId|driverId|constructorId|resultId|number|grid|position|positionText|positionOrder|points|laps|time|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|constructorRef|      name|nationality|                 url| _c5|      driverRef|number|code|forename|surname|       dob|  nationality|                 url|year|round|circuitId|                name|               date|    time|                 url|status|
+--------+------+--------+-------------+--------+------+----+--------+------------+-------------+------+----+----+------------+----------+----+--------------+---------------+--------------+----------+-----------+--------------------+----+---------------+------+----+--------+-------+----------+-------------+--------------------+----+-----+---------+--------------------+-------------------+--------+--------------------+------+
|      11|   985|     843|            5|   23714|    39|  19|      13|          13|           13|   0.0|  55|null|        null|        47|   8|       01:40.0|        198.509|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   17|       69|United States Gra...|2017-10-22 00:00:00|19:00:00|https://en.wikipe...|+1 Lap|
|       5|   986|     843|            5|   23739|    28|  17|    null|           R|           18|   0.0|  30|null|        null|        28|  19|       01:22.6|        187.647|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   18|       32|  Mexican Grand Prix|2017-10-29 00:00:00|19:00:00|https://en.wikipe...|Engine|
|       5|   987|     843|            5|   23758|    28|  18|    null|           R|           17|   0.0|  40|null|        null|        29|  16|       01:14.7|        207.779|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   19|       18|Brazilian Grand Prix|2017-11-12 00:00:00|16:00:00|https://en.wikipe...|Engine|
|      11|   988|     843|            5|   23776|    28|  20|      15|          15|           15|   0.0|  54|null|        null|        52|  18|       01:43.9|        192.444|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   20|       24|Abu Dhabi Grand Prix|2017-11-26 00:00:00|13:00:00|https://en.wikipe...|+1 Lap|
+--------+------+--------+-------------+--------+------+----+--------+------------+-------------+------+----+----+------------+----------+----+--------------+---------------+--------------+----------+-----------+--------------------+----+---------------+------+----+--------+-------+----------+-------------+--------------------+----+-----+---------+--------------------+-------------------+--------+--------------------+------+

In [53]:
max_driver_RDD = work_df.filter(work_df.driverId == max_driverId)

In [69]:
max_driver_RDD.select('driverRef','driverId').collect()[0][0]

'brendon_hartley'