In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import pyspark
import numpy as np
import pyspark.sql.functions as sf
import matplotlib.pyplot as plt
%matplotlib inline


import logging
logging.basicConfig(level=logging.INFO)

# Create spark session
spark = (pyspark.sql.SparkSession.builder.getOrCreate())

sc = spark.sparkContext

In [2]:
from pyspark.sql.window import Window

In [3]:
import pyspark.sql.functions as sf

In [4]:
from pyspark.sql.dataframe import DataFrame

def pipe(df, f, *args, **kwargs):
    return f(df, *args, **kwargs)

DataFrame.pipe = pipe

In [9]:
from formula1 import pyspark_preprocessing

In [10]:
work_df = (
    pyspark_preprocessing.read_data()
    .pipe(pyspark_preprocessing.join_constructors)
    .pipe(pyspark_preprocessing.join_drivers)
    .pipe(pyspark_preprocessing.join_races)
    .pipe(pyspark_preprocessing.join_status)
    .pipe(pyspark_preprocessing.drop_columns)
    .pipe(pyspark_preprocessing.sort_races)
    .pipe(pyspark_preprocessing.average_finishing)
    .pipe(pyspark_preprocessing.average_finishing_percircuit)
    .pipe(pyspark_preprocessing.get_wins)
    .pipe(pyspark_preprocessing.change_dtypes)
    #.pipe(pyspark_preprocessing.get_wins_per_circuit)
)

INFO:formula1.utils:[read_data] rows=23777,  time=0:00:03.529742
INFO:formula1.utils:[join_constructors] rows=23777,  time=0:00:00.284423
INFO:formula1.utils:[join_drivers] rows=23777,  time=0:00:00.249258
INFO:formula1.utils:[join_races] rows=23777,  time=0:00:00.184660
INFO:formula1.utils:[join_status] rows=23777,  time=0:00:00.140507
INFO:formula1.utils:[drop_columns] rows=23777,  time=0:00:00.011408
INFO:formula1.utils:[sort_races] rows=23777,  time=0:00:00.035939
INFO:formula1.utils:[average_finishing] rows=23777,  time=0:00:00.053202
INFO:formula1.utils:[average_finishing_percircuit] rows=23777,  time=0:00:00.024379
INFO:formula1.utils:[get_wins] rows=23777,  time=0:00:00.034750
INFO:formula1.utils:[change_dtypes] rows=23777,  time=0:00:00.135780

In [27]:
work_df.columns

['statusId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionOrder',
 'points',
 'laps',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'constructorRef',
 'name',
 'nationality',
 'driverRef',
 'number',
 'forename',
 'surname',
 'nationality',
 'year',
 'round',
 'circuitId',
 'name',
 'date',
 'status',
 'mean_position_overall',
 'mean_position_percircuit',
 'win']

In [28]:
work_df.show()

+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+---------+-----------+---------+------+--------+-------+-----------+----+-----+---------+--------------------+-------------------+------------------+---------------------+------------------------+---+
|statusId|raceId|driverId|constructorId|number|grid|position|positionOrder|points|laps|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|constructorRef|     name|nationality|driverRef|number|forename|surname|nationality|year|round|circuitId|                name|               date|            status|mean_position_overall|mean_position_percircuit|win|
+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+---------+-----------+---------+------+--------+-------+-----------+----+-----+---------+--------------------+-------------------+------------------+---------------------+------------------------+---+
|      97|   358|     148|           44|    33|   0|    null|           35|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    3|        6|   Monaco Grand Prix|1989-05-07 00:00:00|Did not prequalify|   27.636363636363637|                    21.0|  0|
|       4|   324|     148|           46|    35|  20|       7|            7|   0.0|  72|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    4|        6|   Monaco Grand Prix|1990-05-27 00:00:00|         Collision|   27.636363636363637|                    21.0|  0|
|      97|   361|     148|           44|    33|   0|    null|           33|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    6|        7| Canadian Grand Prix|1989-06-18 00:00:00|Did not prequalify|   27.636363636363637|                    24.0|  0|
|       5|   325|     148|           46|    35|  21|    null|           15|   0.0|  53|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    5|        7| Canadian Grand Prix|1990-06-10 00:00:00|            Engine|   27.636363636363637|                    24.0|  0|
|      97|   363|     148|           44|    33|   0|    null|           33|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    8|        9|  British Grand Prix|1989-07-16 00:00:00|Did not prequalify|   27.636363636363637|                    31.5|  0|
|      81|   328|     148|           46|    35|   0|    null|           30|   0.0|   0|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    8|        9|  British Grand Prix|1990-07-15 00:00:00|   Did not qualify|   27.636363636363637|                    31.5|  0|
|      97|   364|     148|           44|    33|   0|    null|           37|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    9|       10|   German Grand Prix|1989-07-30 00:00:00|Did not prequalify|   27.636363636363637|                    27.5|  0|
|      20|   329|     148|           46|    35|  26|    null|           18|   0.0|  19|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    9|       10|   German Grand Prix|1990-07-29 00:00:00|          Spun off|   27.636363636363637|                    27.5|  0|
|      97|   365|     148|           44|    33|   0|    null|           37|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|   10|       11|Hungarian Grand Prix|1989-08-13 00:00:00|Did not prequalify|   27.636363636363637|                    33.5|  0|
|      81|   330|     148|           46|    35|   0|    null|           30|   0.0|   0|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|   10|       11|Hungarian Grand Prix|1990-08-12 00:00:00|   Did not qualify|   27.636363636363637|                    33.5|  0|
|      97|   366|     148|           44|    33|   0|    null|           38|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|   11|       13|  Belgian Grand Prix|1989-08-27 00:00:00|Did not prequalify|   27.636363636363637|                    38.0|  0|
|       7|   322|     148|           34|     7|  22|    null|           23|   0.0|  14|        null|      null|null|          null|           null|       brabham|  Brabham|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    2|       18|Brazilian Grand Prix|1990-03-25 00:00:00|      Transmission|   27.636363636363637|                    23.0|  0|
|      97|   357|     148|           44|    33|   0|    null|           32|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    2|       21|San Marino Grand ...|1989-04-23 00:00:00|Did not prequalify|   27.636363636363637|                    24.0|  0|
|       5|   323|     148|           46|    35|  23|    null|           16|   0.0|  35|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    3|       21|San Marino Grand ...|1990-05-13 00:00:00|            Engine|   27.636363636363637|                    24.0|  0|
|      81|   369|     148|           48|    38|   0|    null|           29|   0.0|   0|        null|      null|null|          null|           null|          rial|     Rial|     German|   foitek|  null|  Gregor| Foitek|      Swiss|1989|   14|       26|  Spanish Grand Prix|1989-10-01 00:00:00|   Did not qualify|   27.636363636363637|                    29.0|  0|
|      97|   359|     148|           44|    33|   0|    null|           32|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    4|       32|  Mexican Grand Prix|1989-05-28 00:00:00|Did not prequalify|   27.636363636363637|                    23.5|  0|
|      12|   326|     148|           46|    35|  23|      15|           15|   0.0|  67|        null|      null|null|          null|           null|          onyx|     Onyx|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    6|       32|  Mexican Grand Prix|1990-06-24 00:00:00|           +2 Laps|   27.636363636363637|                    23.5|  0|
|      97|   360|     148|           44|    33|   0|    null|           33|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    5|       33|United States Gra...|1989-06-04 00:00:00|Did not prequalify|   27.636363636363637|                    26.0|  0|
|       3|   321|     148|           34|     7|  23|    null|           19|   0.0|  39|        null|      null|null|          null|           null|       brabham|  Brabham|    British|   foitek|  null|  Gregor| Foitek|      Swiss|1990|    1|       33|United States Gra...|1990-03-11 00:00:00|          Accident|   27.636363636363637|                    26.0|  0|
|      97|   362|     148|           44|    33|   0|    null|           38|   0.0|   0|        null|      null|null|          null|           null|      eurobrun|Euro Brun|    Italian|   foitek|  null|  Gregor| Foitek|      Swiss|1989|    7|       34|   French Grand Prix|1989-07-09 00:00:00|Did not prequalify|   27.636363636363637|                    33.5|  0|
+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+---------+-----------+---------+------+--------+-------+-----------+----+-----+---------+--------------------+-------------------+------------------+---------------------+------------------------+---+
only showing top 20 rows

In [15]:
(work_df.filter((sf.col('driverRef') == 'hamilton') & (sf.col('year') == 2017))
 .select(sf.col('driverRef'), sf.col('year'), sf.col('circuitId'), sf.col('win'))
 .sort(sf.col('raceId'))
 .show()
)

+---------+----+---------+-----+
|driverRef|year|circuitId|  win|
+---------+----+---------+-----+
| hamilton|2017|        1|false|
| hamilton|2017|       17| true|
| hamilton|2017|        3|false|
| hamilton|2017|       71|false|
| hamilton|2017|        4| true|
| hamilton|2017|        6|false|
| hamilton|2017|        7| true|
| hamilton|2017|       73|false|
| hamilton|2017|       70|false|
| hamilton|2017|        9| true|
| hamilton|2017|       11|false|
| hamilton|2017|       13| true|
| hamilton|2017|       14| true|
| hamilton|2017|       15| true|
| hamilton|2017|        2|false|
| hamilton|2017|       22| true|
| hamilton|2017|       69| true|
| hamilton|2017|       32|false|
| hamilton|2017|       18|false|
| hamilton|2017|       24|false|
+---------+----+---------+-----+

In [30]:
work_df.select('win').show()

+---+
|win|
+---+
|  1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
+---+
only showing top 20 rows

In [52]:
work_df.groupby('driverRef').agg(sf.sum(work_df.win)).show()

+------------+--------+
|   driverRef|sum(win)|
+------------+--------+
|       godia|       0|
|      pollet|       0|
|       hobbs|       0|
| karthikeyan|       0|
|  scarfiotti|       1|
|       irwin|       0|
|     angelis|       2|
|      alliot|       0|
|   magnussen|       0|
|      rosset|       0|
|    flaherty|       1|
|  stuppacher|       0|
|       terra|       0|
|    macdowel|       0|
|   hurtubise|       0|
|    blignaut|       0|
| alguersuari|       0|
|      holmes|       0|
|    cantrell|       0|
|lucienbonnet|       0|
+------------+--------+
only showing top 20 rows

In [ ]:
val cumSum = sampleData.withColumn("cumulativeSum", sum(sampleData("Salary"))
             .over( Window.partitionBy("Role").orderBy("Salary")))

In [13]:
window = Window.partitionBy('driverId', 'circuitId').orderBy('raceId')

In [46]:
(work_df.groupby('driverRef')
 .sum('win')
 .filter(work_df.driverRef == 'hamilton')
 .show()
)

+---------+--------+
|driverRef|sum(win)|
+---------+--------+
| hamilton|      62|
+---------+--------+

In [41]:
work_df.printSchema()

root
 |-- statusId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- constructorId: integer (nullable = true)
 |-- number: integer (nullable = true)
 |-- grid: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- positionOrder: integer (nullable = true)
 |-- points: double (nullable = true)
 |-- laps: integer (nullable = true)
 |-- milliseconds: integer (nullable = true)
 |-- fastestLap: integer (nullable = true)
 |-- rank: integer (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: string (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: integer (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- round: integer (nullable = true)
 |-- circuitId: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- status: string (nullable = true)
 |-- mean_position_overall: double (nullable = true)
 |-- mean_position_percircuit: double (nullable = true)
 |-- win: boolean (nullable = true)

In [5]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

In [6]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [8]:
df.select(sf.col('v')).show()

+----+
|   v|
+----+
| 1.0|
| 2.0|
| 3.0|
| 5.0|
|10.0|
+----+

In [38]:
@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.v
    return pdf.assign(v = v - v.mean())

In [39]:
df.groupby("id").apply(subtract_mean)

DataFrame[id: bigint, v: double]

In [37]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [41]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.v
    return pdf.assign(v=v - v.mean())

#df.groupby("id").apply(subtract_mean).show()
# +---+----+
# | id|   v|
# +---+----+
# |  1|-0.5|
# |  1| 0.5|
# |  2|-3.0|
# |  2|-1.0|
# |  2| 4.0|
# +---+----+

In [42]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [45]:
@pandas_udf(df.schema, PandasUDFType.GROUPED_MAP)
# Input/output are both a pandas.DataFrame
def subtract_mean(pdf):
    return pdf.assign(v=pdf.v - pdf.v.mean())

df.groupby('id').apply(subtract_mean)

DataFrame[id: bigint, v: double]

In [44]:
df.show()

+---+----+
| id|   v|
+---+----+
|  1| 1.0|
|  1| 2.0|
|  2| 3.0|
|  2| 5.0|
|  2|10.0|
+---+----+

In [ ]:
@log_step
def get_wins_per_circuit(df):
    return df.assign(
        win_per_circuit = lambda df: df.groupby(['driverId','circuitId'])['win']
        .transform(lambda df: df.shift(1).cumsum())
    )

In [16]:
def get_wins_per_circuit(df):
    window = Window.partitionBy('driverId', 'circuitId').orderBy('raceId')
    
    return (df.withColumn('win_per_circuit')
            , sum(df('win'))
            .over(window)
            )

In [12]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.v
    return pdf.assign(v=v - v.mean())

df.groupby("id").apply(subtract_mean).show()

Py4JJavaError: An error occurred while calling o53.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 44 in stage 7.0 failed 1 times, most recent failure: Lost task 44.0 in stage 7.0 (TID 136, localhost, executor driver): org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:486)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:475)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:36)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:178)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:159)
	... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:486)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$3.applyOrElse(PythonRunner.scala:475)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:36)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:178)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:159)
	... 26 more

In [82]:
work_df.withColumn('win', sf.col('positionOrder') == 1)

DataFrame[statusId: int, raceId: int, driverId: int, constructorId: int, number: int, grid: int, position: int, positionOrder: int, points: double, laps: int, milliseconds: int, fastestLap: int, rank: int, fastestLapTime: string, fastestLapSpeed: string, constructorRef: string, name: string, nationality: string, driverRef: string, number: int, forename: string, surname: string, nationality: string, year: int, round: int, circuitId: int, name: string, date: timestamp, status: string, mean_position_overall: double, mean_position_percircuit: double, win: boolean]

In [78]:
def get_wins(df):
    return df.withColumn('win', sf.col('positionOrder') == 1)

In [ ]:
df.filter(df.X == 1).toPandas()

In [ ]:
def average_finishing(df):
    window = Window.partitionBy('driverId')

    return df.withColumn('mean_position_overall', sf.avg('positionOrder').over(window))

In [70]:
def demean_circuit_from_mean(df):
    window = Window.partitionBy('driverId', 'circuitId')
    
    (df.withColumn('demean_circuit'),
     sf.col('mean_position_overall') - sf.avg('positionOrder').over(window)
    )

In [ ]:
# (airlines
#  .filter(~sf.isnan(sf.col('arr_delay')))
#  .withColumn("demean_arry_delay", 
#              sf.col('arr_delay') - sf.avg('arr_delay').over(window))
#  .toPandas()
# )

In [69]:
(work_df.groupby(sf.col('driverRef'), sf.col('circuitId')).agg(sf.mean(work_df.positionOrder))
 .filter(sf.col('driverRef') == 'hamilton')
 .withColumn('demean_position', sf.col('avg(positionOrder)') - )
 .toPandas()
)

   driverRef  circuitId  avg(positionOrder)  demean_position
0   hamilton         13            9.000000        18.000000
1   hamilton          6            4.363636         8.727273
2   hamilton         70            2.250000         4.500000
3   hamilton         11            4.272727         8.545455
4   hamilton         18            7.181818        14.363636
5   hamilton         12            5.800000        11.600000
6   hamilton         24            6.222222        12.444444
7   hamilton         35            4.750000         9.500000
8   hamilton         16            6.500000        13.000000
9   hamilton         20            8.250000        16.500000
10  hamilton         10            6.600000        13.200000
11  hamilton          9            3.818182         7.636364
12  hamilton          5            5.000000        10.000000
13  hamilton         14            5.727273        11.454545
14  hamilton          8            6.500000        13.000000
15  hamilton         71            2.000000         4.000000
16  hamilton         69            1.500000         3.000000
17  hamilton         19            1.000000         2.000000
18  hamilton         32            4.000000         8.000000
19  hamilton         17            4.090909         8.181818
20  hamilton         73            5.000000        10.000000
21  hamilton          2            5.181818        10.363636
22  hamilton          7            6.900000        13.800000
23  hamilton          4            6.818182        13.636364
24  hamilton          3            4.200000         8.400000
25  hamilton          1            5.818182        11.636364
26  hamilton         22            4.888889         9.777778
27  hamilton         68            5.666667        11.333333
28  hamilton         15            8.000000        16.000000

In [ ]:
#df.filter(df.X == 1).toPandas()

In [51]:
(work_df.filter(work_df.driverRef == 'hamilton')
 .select('driverRef', 'positionOrder')
 .withColumn()
)

    driverRef  positionOrder
0    hamilton              3
1    hamilton              2
2    hamilton              2
3    hamilton              2
4    hamilton              2
5    hamilton              1
6    hamilton              1
7    hamilton              3
8    hamilton              3
9    hamilton              9
10   hamilton              1
11   hamilton              5
12   hamilton              2
13   hamilton              4
14   hamilton              1
15   hamilton             19
16   hamilton              7
17   hamilton              1
18   hamilton              5
19   hamilton             13
20   hamilton              3
21   hamilton              2
22   hamilton              1
23   hamilton             19
24   hamilton             10
25   hamilton              1
26   hamilton              1
27   hamilton              5
28   hamilton              2
29   hamilton              3
..        ...            ...
178  hamilton              1
179  hamilton              3
180  hamilton              2
181  hamilton              3
182  hamilton             18
183  hamilton              3
184  hamilton              1
185  hamilton              1
186  hamilton              1
187  hamilton              1
188  hamilton              2
189  hamilton              1
190  hamilton              2
191  hamilton              4
192  hamilton              1
193  hamilton              7
194  hamilton              1
195  hamilton              5
196  hamilton              4
197  hamilton              1
198  hamilton              4
199  hamilton              1
200  hamilton              1
201  hamilton              1
202  hamilton              2
203  hamilton              1
204  hamilton              1
205  hamilton              9
206  hamilton              4
207  hamilton              2

[208 rows x 2 columns]

In [39]:
work_df.groupby('driverId').sum('positionOrder').show()

+--------+------------------+
|driverId|sum(positionOrder)|
+--------+------------------+
|     496|               126|
|     463|                73|
|     471|                 9|
|     148|               608|
|     833|               204|
|     737|                14|
|     623|                20|
|     540|                42|
|     392|                30|
|     243|               897|
|     516|                75|
|      31|               810|
|     580|               157|
|     451|                22|
|     251|               367|
|     137|              2075|
|      85|               539|
|     808|               833|
|     458|                21|
|      65|              2129|
+--------+------------------+
only showing top 20 rows

In [36]:
work_df.groupby('driverRef').agg(sf.min(work_df.mean_position_overall)).toPandas()

             driverRef  min(mean_position_overall)
0                godia                   11.214286
1                hobbs                    9.000000
2               pollet                   13.200000
3          karthikeyan                   18.458333
4           scarfiotti                   11.846154
5            magnussen                   15.400000
6                irwin                   11.100000
7               alliot                   16.547826
8              angelis                   11.981818
9               rosset                   15.266667
10          stuppacher                   27.666667
11            flaherty                   15.000000
12            blignaut                   31.000000
13               terra                   14.500000
14           hurtubise                   18.000000
15         alguersuari                   13.891304
16            macdowel                    7.000000
17              holmes                   21.000000
18               creus                   21.000000
19        lucienbonnet                   23.000000
20          vic_wilson                   16.500000
21               sainz                   12.300000
22            cantrell                   27.000000
23             nazaruk                    9.333333
24          friesacher                   16.000000
25            schiller                   24.500000
26               senna                    8.259259
27            donnelly                   16.600000
28            tarquini                   23.858974
29              purley                   20.636364
..                 ...                         ...
812            nilsson                   14.093750
813   riseley_prichard                   22.000000
814              daigh                   17.833333
815             magill                   23.666667
816          ricciardo                    9.720930
817            garrett                   18.500000
818          schroeder                   10.000000
819            widdows                   13.000000
820          scheckter                    9.292035
821          cabantous                   11.538462
822             mitter                   14.600000
823  wilson_fittipaldi                   16.026316
824             peters                   28.000000
825               hart                   14.000000
826            la_caze                   14.000000
827            laurent                    9.000000
828             brudes                   16.000000
829           vukovich                   14.600000
830            prophet                   15.000000
831               ward                   16.750000
832              glock                   15.231579
833            fagioli                    4.375000
834              speed                   15.071429
835              comas                   14.761905
836             carini                   24.333333
837             turner                   22.000000
838         giovinazzi                   15.500000
839             revson                   10.129032
840              south                   27.000000
841            milhoux                    8.000000

[842 rows x 2 columns]

In [6]:
work_df.columns

['statusId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionOrder',
 'points',
 'laps',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'constructorRef',
 'name',
 'nationality',
 'driverRef',
 'number',
 'forename',
 'surname',
 'nationality',
 'year',
 'round',
 'circuitId',
 'name',
 'date',
 'status']

In [ ]:
@log_step
def average_finishing(df):
    return df.assign(
        mean_position_till_date = lambda df: df.groupby('driverId')['positionOrder']
        .transform(lambda df: df.shift(1).expanding().mean())
    )

In [7]:
from pyspark.sql.window import Window

In [23]:
#pyspark
def average_finishing(df):
    window = Window.partitionBy('driverId')
    
    return df.withColumn('mean_position_overall', sf.avg('positionOrder').over(window))

In [8]:
def diff_between_races(df):
    window = Window.partitionBy('driverId').orderBy('raceId')
    
    return df.withColumn('difference_races', sf.col('positionOrder') - sf.lag(sf.col('positionOrder')).over(window))

In [9]:
x = diff_between_races(work_df)

In [16]:
#x.select('difference_races','driverRef').show()

(x.filter(x.driverRef == 'hamilton')
 .select('difference_races','driverRef').describe().show()
)

+-------+--------------------+---------+
|summary|    difference_races|driverRef|
+-------+--------------------+---------+
|  count|                 207|      208|
|   mean|-0.08695652173913043|     null|
| stddev|   8.773424894623286|     null|
|    min|                 -23| hamilton|
|    max|                  23| hamilton|
+-------+--------------------+---------+

In [18]:
window = Window.partitionBy('driverId').orderBy('raceId')

In [ ]:
work_df.select('')

In [184]:
def average_finishing(df):
    window =  Window.partitionBy('driverId')
    
    return df.withColumn('mean_position_till_date', sf.avg('positionOrder').over(window))

In [ ]:
sf.lag('temperature').over(mid_window))

In [183]:
work_df.show()

+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+-----------+-----------+--------------+------+--------+--------------+-----------+----+-----+---------+------------------+-------------------+--------------+
|statusId|raceId|driverId|constructorId|number|grid|position|positionOrder|points|laps|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|constructorRef|       name|nationality|     driverRef|number|forename|       surname|nationality|year|round|circuitId|              name|               date|        status|
+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+-----------+-----------+--------------+------+--------+--------------+-----------+----+-----+---------+------------------+-------------------+--------------+
|       1|   833|     642|           51|     2|   1|       1|            1|   9.0|  70|     8003600|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|        farina|  null|    Nino|        Farina|    Italian|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Finished|
|     126|   833|     790|          151|     8|  12|    null|           21|   0.0|   2|        null|      null|null|          null|           null|           era|        ERA|    British|leslie_johnson|  null|  Leslie|       Johnson|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|  Supercharger|
|       1|   833|     786|           51|     3|   2|       2|            2|   6.0|  70|     8006200|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|       fagioli|  null|   Luigi|       Fagioli|    Italian|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Finished|
|       1|   833|     686|           51|     4|   4|       3|            3|   4.0|  70|     8055600|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|   reg_parnell|  null|     Reg|       Parnell|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Finished|
|      12|   833|     704|          154|    14|   6|       4|            4|   3.0|  68|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|     cabantous|  null|    Yves|     Cabantous|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +2 Laps|
|      12|   833|     627|          154|    15|   9|       5|            5|   2.0|  68|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|        rosier|  null|   Louis|        Rosier|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +2 Laps|
|      13|   833|     619|          151|    12|  13|       6|            6|   0.0|  67|        null|      null|null|          null|           null|           era|        ERA|    British|        gerard|  null|     Bob|        Gerard|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +3 Laps|
|      13|   833|     787|          151|    11|  15|       7|            7|   0.0|  67|        null|      null|null|          null|           null|           era|        ERA|    British|      harrison|  null|    Cuth|      Harrison|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +3 Laps|
|      15|   833|     741|          154|    16|  14|       8|            8|   0.0|  65|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|     etancelin|  null|Philippe|    tancelin|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +5 Laps|
|      16|   833|     784|          105|     6|  16|       9|            9|   0.0|  64|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|     hampshire|  null|   David|     Hampshire|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +6 Laps|
|      16|   833|     778|          105|    10|  20|      10|           10|   0.0|  64|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|  shawe_taylor|  null|   Brian|  Shawe Taylor|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +6 Laps|
|      16|   833|     660|          154|    18|  21|      11|           11|   0.0|  64|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|         claes|  null|  Johnny|         Claes|    Belgian|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|       +6 Laps|
|      44|   833|     579|           51|     1|   3|    null|           12|   0.0|  62|        null|      null|null|          null|           null|          alfa| Alfa Romeo|    Italian|        fangio|  null|    Juan|        Fangio|  Argentine|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|      Oil leak|
|      62|   833|     776|          126|    23|  19|    null|           13|   0.0|  57|        null|      null|null|          null|           null|          alta|       Alta|    British|         kelly|  null|     Joe|         Kelly|      Irish|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|Not classified|
|      60|   833|     669|          105|    21|   5|    null|           14|   0.0|  49|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|          bira|  null|  Prince|          Bira|       Thai|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|   Out of fuel|
|       5|   833|     747|          105|     5|  18|    null|           15|   0.0|  44|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|        murray|  null|   David|        Murray|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|        Engine|
|       7|   833|     785|          126|    24|  17|    null|           16|   0.0|  43|        null|      null|null|          null|           null|          alta|       Alta|    British|      crossley|  null|   Geoff|      Crossley|    British|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|  Transmission|
|       5|   833|     640|          105|    20|   8|    null|           17|   0.0|  36|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|   graffenried|  null|   Toulo|de Graffenried|      Swiss|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|        Engine|
|       8|   833|     589|          105|    19|  11|    null|           18|   0.0|  26|        null|      null|null|          null|           null|      maserati|   Maserati|    Italian|        chiron|  null|   Louis|        Chiron| Monegasque|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|        Clutch|
|      51|   833|     789|          154|    17|   7|    null|           19|   0.0|   8|        null|      null|null|          null|           null|          lago|Talbot-Lago|     French|        martin|  null| Eugne|        Martin|     French|1950|    1|        9|British Grand Prix|1950-05-13 00:00:00|  Oil pressure|
+--------+------+--------+-------------+------+----+--------+-------------+------+----+------------+----------+----+--------------+---------------+--------------+-----------+-----------+--------------+------+--------+--------------+-----------+----+-----+---------+------------------+-------------------+--------------+
only showing top 20 rows

In [180]:
def average_finishing_test(df):
    window =  Window.partitionBy('driverId')
    
    return df.withColumn('lagged_by_one', sf.lag('positionOrder').over(window))

In [181]:
x = average_finishing_test(work_df)

AnalysisException: 'Window function lag(positionOrder#6326, 1, null) requires window to be ordered, please add ORDER BY clause. For example SELECT lag(positionOrder#6326, 1, null)(value_expr) OVER (PARTITION BY window_partition ORDER BY window_ordering) from table;'

In [ ]:
df.filter(df.X == 1).toPandas()

In [163]:
x.filter(x.driverRef == 'hamilton').select('mean_position').show()

+-----------------+
|    mean_position|
+-----------------+
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
|5.485576923076923|
+-----------------+
only showing top 20 rows

In [ ]:
@log_step
def average_finishing(df):
    return df.assign(
        mean_position_till_date = lambda df: df.groupby('driverId')['positionOrder']
        .transform(lambda df: df.shift(1).expanding().mean())
    )

# Get the driver with the max driverID

In [38]:
work_df.select('driverRef','driverId').toPandas()

             driverRef  driverId
0             hamilton         1
1             heidfeld         2
2              rosberg         3
3               alonso         4
4           kovalainen         5
5             nakajima         6
6             bourdais         7
7            raikkonen         8
8               kubica         9
9                glock        10
10                sato        11
11           piquet_jr        12
12               massa        13
13           coulthard        14
14              trulli        15
15               sutil        16
16              webber        17
17              button        18
18            davidson        19
19              vettel        20
20          fisichella        21
21         barrichello        22
22           raikkonen         8
23              kubica         9
24          kovalainen         5
25              trulli        15
26            hamilton         1
27            heidfeld         2
28              webber        17
29              alonso         4
...                ...       ...
23747            sainz       832
23748            gasly       842
23749         ericsson       828
23750         wehrlein       836
23751         grosjean       154
23752           stroll       840
23753  brendon_hartley       843
23754             ocon       839
23755        vandoorne       838
23756  kevin_magnussen       825
23757           bottas       822
23758         hamilton         1
23759           vettel        20
23760        raikkonen         8
23761   max_verstappen       830
23762       hulkenberg       807
23763            perez       815
23764             ocon       839
23765           alonso         4
23766            massa        13
23767         grosjean       154
23768        vandoorne       838
23769  kevin_magnussen       825
23770         wehrlein       836
23771  brendon_hartley       843
23772            gasly       842
23773         ericsson       828
23774           stroll       840
23775            sainz       832
23776        ricciardo       817

[23777 rows x 2 columns]

In [44]:
max_driverId = work_df.agg({"driverId": "max"}).collect()[0][0]
max_driverId

843

In [70]:
work_df.filter(work_df.driverId == max_driverId).show()

+--------+------+--------+-------------+--------+------+----+--------+------------+-------------+------+----+----+------------+----------+----+--------------+---------------+--------------+----------+-----------+--------------------+----+---------------+------+----+--------+-------+----------+-------------+--------------------+----+-----+---------+--------------------+-------------------+--------+--------------------+------+
|statusId|raceId|driverId|constructorId|resultId|number|grid|position|positionText|positionOrder|points|laps|time|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|constructorRef|      name|nationality|                 url| _c5|      driverRef|number|code|forename|surname|       dob|  nationality|                 url|year|round|circuitId|                name|               date|    time|                 url|status|
+--------+------+--------+-------------+--------+------+----+--------+------------+-------------+------+----+----+------------+----------+----+--------------+---------------+--------------+----------+-----------+--------------------+----+---------------+------+----+--------+-------+----------+-------------+--------------------+----+-----+---------+--------------------+-------------------+--------+--------------------+------+
|      11|   985|     843|            5|   23714|    39|  19|      13|          13|           13|   0.0|  55|null|        null|        47|   8|       01:40.0|        198.509|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   17|       69|United States Gra...|2017-10-22 00:00:00|19:00:00|https://en.wikipe...|+1 Lap|
|       5|   986|     843|            5|   23739|    28|  17|    null|           R|           18|   0.0|  30|null|        null|        28|  19|       01:22.6|        187.647|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   18|       32|  Mexican Grand Prix|2017-10-29 00:00:00|19:00:00|https://en.wikipe...|Engine|
|       5|   987|     843|            5|   23758|    28|  18|    null|           R|           17|   0.0|  40|null|        null|        29|  16|       01:14.7|        207.779|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   19|       18|Brazilian Grand Prix|2017-11-12 00:00:00|16:00:00|https://en.wikipe...|Engine|
|      11|   988|     843|            5|   23776|    28|  20|      15|          15|           15|   0.0|  54|null|        null|        52|  18|       01:43.9|        192.444|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|null|brendon_hartley|    39| HAR| Brendon|Hartley|10/11/1989|New Zealander|http://en.wikiped...|2017|   20|       24|Abu Dhabi Grand Prix|2017-11-26 00:00:00|13:00:00|https://en.wikipe...|+1 Lap|
+--------+------+--------+-------------+--------+------+----+--------+------------+-------------+------+----+----+------------+----------+----+--------------+---------------+--------------+----------+-----------+--------------------+----+---------------+------+----+--------+-------+----------+-------------+--------------------+----+-----+---------+--------------------+-------------------+--------+--------------------+------+

In [53]:
max_driver_RDD = work_df.filter(work_df.driverId == max_driverId)

In [69]:
max_driver_RDD.select('driverRef','driverId').collect()[0][0]

'brendon_hartley'